<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FindFun</title>

    <section th:replace="fragments/links"></section>

    <section th:replace="fragments/leafletLinks"></section>

    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="/css/addEvent.css">

    <!-- REACT COMPONENTS -->
    <script type="text/babel" src="/js/eventComponent.js"></script>

    <!-- LOCAL SCRIPT -->
    <script type="text/babel" src="/js/addEvent.js"></script>

</head>
<body>

<nav th:replace="fragments/header"></nav>


<div class="container">

    <div class="row" id="main-div">

        <div class="col s0 l7" id="add-event-map">
            MAP
        </div>


        <div class="col s12 l5" id="event-form">

            <div id="title">
                <h1>Add New Event</h1>
            </div>

            <form method="POST" action="#">

                <input type="hidden" name="lat" id="lat">
                <input type="hidden" name="lng" id="lng">

                <div class="input-field">
                    <input type="text" name="name" placeholder="Event Name">
                </div>

                <div class="input-field">
                    <textarea name="about" placeholder="Event Description"></textarea>
<!--                    <input type="text" name="about" placeholder="Event Description">-->
                </div>

                <div class="input-field">
                    <input type="text" name="category" placeholder="Category">
                </div>

                <div class="input-field">
                    <input type="text" name="imgPath" placeholder="Image Url">
                </div>

                <div class="input-field">
                    <input type="datetime-local" name="date"/>
                </div>

                <div class="input-field">
                    <input type="submit" value="Submit">
                </div>

            </form>
        </div>


    </div>
</div>

<footer th:replace="fragments/footer"></footer>
</body>

</html>